/* ------------ Global variables ------------ */
:root {
  --header-font-size: 20px;
  --app-title-font-size: 32px;
  --pages-margins: 0 40px 0 40px;
}

/* ------------ General styles ------------ */
body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

@font-face {
	font-family: Constantine-normal;
	src: url(./assets/fonts/Constantine.ttf);
}

* {
  font-family: Constantine-normal;
  box-sizing: border-box;
}

a {
  color: white;
}

/* ------------ 0. Application container styles ------------ */
/* Application container general styles */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main page styles */
.app-container.home-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Other pages styles (only for Main component, Header and Footer aren't included) */
.app-container.default-layout > main {
  display: block;
  /* Makes element fill all space between header and footer */
  flex: 1;
}

/* Styles for h1 headers in main component */
.app-container.default-layout > main h1 {
  text-align: left;
  font-size: 18px;
}

/* ------------ 1. Header component styles ------------ */
/* Header general styles */
.header {
  /* border: 1px solid yellow; */
}

.header-panel {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: space-between;

  height: 50px;
  width: 100vw;

  z-index: 100;

  font-size: var(--header-font-size);
}

/* Styles for left side elements */
.header-panel__left {
  display: flex;

  align-items: center;
  justify-content: flex-start;

  height: 100%;
  width: 50%;

  border: 1px red solid;
}

.header-panel__left * {
  /* border: 1px red solid; */
}

/* Styles for right side elements */
.header-panel__right {
  display: flex;

  align-items: center;
  justify-content: flex-end;

  height: 100%;
  width: 50%;

  border: 1px blue solid;
}

.header-panel__right * {
  /* border: 1px green solid; */
}

/* NavigationBar styles */
.nav-bar {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  padding: 10px;
}

/* Categories styles */
.select-category {
  width: 35%;
  min-width: 70px;

  padding: 10px;
}

.select-category select {
  width: 100%;
  border-radius: 5px;
  border: 3px solid rgb(74, 77, 22);

  padding: 3px;
  font-family: 'Times New Roman', Times, serif;
}

.select-category select > * {
  font-family: 'Times New Roman', Times, serif;
}

/* SearchField styles */
.search-field {
  /* border: 1px purple solid; */
}

.search-field form {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  padding: 10px;
}

.search-field form input {
  width: 100%;
  min-width: 50px;
  padding: 3px;
  border-radius: 5px;
  border: 3px solid rgb(74, 77, 22);

  font-family:'Times New Roman', Times, serif;
}

/* LoginUserBar styles */
.login-bar, .user-bar {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  padding: 10px;
}

/* AppTitle styles */
.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  height: 100%;
  padding: 0;
  margin: 0;

  z-index: 1000;
}

.app-title-header {
  padding: 0;
  margin: 0;
  font-size: var(--app-title-font-size);
}

/* ------------ 2. Main component styles ------------ */
/* Home page styles */
.home-page {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 70vh;

  /* border: 1px solid blue; */
}

.home-page .home-page-buttons {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;

  align-self: center;

  z-index: 2;

  /* border: 1px solid blue; */
}

.home-page .home-page-buttons button {
  padding: 5px;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 150px;
}

/* Caption "Press R to refresh" */
.home-page .press-r {
  position: absolute;
  bottom: 20px;
  align-self: center;

  color: rgb(99, 99, 99);
  font-size: 12px;
}

/* Home page background styles */
.home-page #particles-js {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  z-index: 0;
}

/* RandomQuote styles */
.random-quote {
  position: relative;

  font-size: 30px;
  font-weight: 500;
  color: white;
  text-align: center;

  z-index: 1;

  /* border: 1px solid green; */
}

.random-quote blockquote {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.random-quote .quote-details {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  gap: 20px;
}

/* ------------ 3. Internal pages styles ------------ */
/* Styles for all internal pages */
.favorites-page, .search-page, .profile-page, .login-page {
  padding: var(--pages-margins);
}

/* Profile page styles */
.profile-page {
  font-size: 14px;
}

.profile-page * {
  font-family:'Times New Roman', Times, serif;
}

/* Change login page styles */
.change-login {
  display: flex;
  flex-direction: column;
  margin: var(--pages-margins);
}

.change-login * {
  font-family:'Times New Roman', Times, serif;
}

.change-login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-login form div {
  display: flex;
  gap: 5px;
}

.change-login form button {
  padding: 5px;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 5px;
  width: 150px;
}

/* Change email page styles */
.change-email {
  display: flex;
  flex-direction: column;
  margin: var(--pages-margins);
}

.change-email * {
  font-family:'Times New Roman', Times, serif;
}

.change-email form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-email form div {
  display: flex;
  gap: 5px;
}

.change-email form button {
  padding: 5px;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 5px;
  width: 150px;
}

/* Change password page styles */
.change-password {
  display: flex;
  flex-direction: column;
  margin: var(--pages-margins);
}

.change-password * {
  font-family:'Times New Roman', Times, serif;
}

.change-password form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-password form div {
  display: flex;
  gap: 5px;
}

.change-password form button {
  padding: 5px;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 5px;
  width: 150px;
}

/* ------------ 4. Animations ------------ */
@keyframes in-focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* Animation for displaying a quote on home page */
.random-quote .quote {
  animation: in-focus 2.5s forwards;
}

/* ------------ 5. Media queries ------------ */
@media (max-width: 1024px) {
  .select-category {
    min-width: 150px;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-panel__left {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .header-panel__right {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .login-bar, .user-bar {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .select-category {
    width: 200px;
  }

  .header-panel__right {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    min-width: 300px;
  }

  .home-page {
    position: static;
  }

  .home-page .home-page-buttons button {
    width: 100px;
  }

  .footer {
    display: none;
  }

  .app-title {
    display: none;
  }
}

@media (max-width: 480px) {
  
  
}

@media (max-width: 320px) {
  
}