.footer {
  position: relative;

  display: flex;
  flex-direction: column;

  /* border: 1px solid white; */
  z-index: 100;
}

/* Caption "Press R to refresh" */
.press-r {
  align-self: center;

  color: rgb(99, 99, 99);
  font-size: 12px;

  /* border: 1px solid violet; */
}

.footer-caption {
  font-size: 12px;
  align-self: center;
}

@media (max-width: 1024px) {
  .footer-caption {
    display: none;
  }
}
