#particles-js {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  z-index: 0;
}

.random-quote {
  position: relative;

  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 1rem;

  z-index: 100;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 1rem;
}

/* Animation */
 @keyframes in-focus {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.random-quote .quote {
  animation: in-focus 2.5s forwards;
}