#particles-js {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  z-index: 0;
}

.random-quote {
  position: relative;

  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 1rem;

  z-index: 100;
  
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 1rem;
}



