.search-field {
  flex-shrink: 1;
}

.search-field form {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  padding: 10px;
}

.search-field form input {
  flex-basis: 100%;
  min-width: 50px;

  font-family:'Times New Roman', Times, serif;
}
