.search-field {
  flex-shrink: 0;
}

.search-field form {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  padding: 10px;
}

.search-field form input {
  width: 70%;
  min-width: 50%;

  font-family:'Times New Roman', Times, serif;
}
